*{
    box-sizing: border-box;
    margin: 0px;
}
body{
    padding: auto;
}
.container{
    /* display: flex;
    flex-wrap: wrap; */
    display: grid;
    grid-template-columns: repeat(auto-fit, 60px);
    width: 960px;
    height: 960px;
    position: relative;
    left: 20%;
    padding-top: 10px;
}
.container div{
    /* display: inline-block; */
    /* float: left; */
    /* width: 60px;
    height: 60px; */
    background-color:blueviolet;
    border: 1px solid black;
    
}